footer {
    display: flex;
    padding: 0 36px;
    background-color: var(--primario);
    color: var(--secundario);
    border-top: 2px solid var(--secundario);
    justify-content: space-between;
}

footer div.redes {
    display: flex;
    align-items: center;
    gap: 12px;

}

footer div.redes a i  {
    font-size: 1.2em;
    color: var(--secundario);
}

