body.index main {
    display: flex;
    flex-direction: column;

    & section.sobre-nosotros {
        background-color: var(--secundario);
        font-family: Outfit;
        font-size: 18px;
        line-height: 1.5em;
        padding: 24px 36px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & section.sobre-nosotros img {
        display: none;
        width: 450px;
    }

    & section.sobre-nosotros h1 {}

    & section.sobre-nosotros span {
        display: inline-block;
        width: 4ch;
        height: 1em;
    }

    & section.destaque {
        background-color: var(--primario);
        color: var(--secundario);
        padding: 0 36px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & section.destaque h2 {
        margin: 0;
    }

    & section.destaque p {
        line-height: 1.5em;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 24px;
    }

    & section.destaque .carrusel {
        transform: scale(1);
        z-index: 1;
    }

    & section.destaque .carrusel .botones {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        box-sizing: border-box;

        transform: scale(1);
    }

    & section.destaque .carrusel .botones button {
        width: 60px;
        height: 60px;
        display: grid;
        place-items: center;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        border: 4px solid var(--secundario);
        font-size: 36px;
        color: var(--secundario);
        background-color: transparent;

        &.previo {
            margin-left: -30px;
            left: 0%;
        }

        &.siguiente {
            margin-right: -30px;
            right: 0%;
        }

    }
    
    & section.destaque .carrusel div img {
        display: none;
        border-radius: 12px;
        width: 100%;

        &:first-child  {
            display: flow-root;
        }
    }
}

@media (min-width: 500px) {
    body.index main {

        & section.sobre-nosotros {
            padding: 0 108px;
        }

        & section.destaque {
            padding: 0 108px;
        }

        & section.destaque .carrusel div {
            display: flex;
            justify-content: space-between;
        }

        & section.destaque .carrusel div img {
            width: calc(33% - 12px);
            aspect-ratio: 1;
        }

        & section.destaque .carrusel div img {

            &:nth-child(1) {
                display: flex;
                transform: scale(0.92);
            }
            &:nth-child(2) {
                display: flex;
                transform: scale(1.02);
            }
            &:nth-child(3) {
                display: flex;
                transform: scale(0.92);
            }

        }
    }
}
