*{
    padding: 0;

    box-sizing: border-box;
}

header {
    margin-top: 72px;
    background-color: var(--secundario);
    height: 216px;
    display: grid;
    place-items: center;
}

main {
    background-color: var(--secundario);
    padding: 0 108px;
    padding-bottom: 48px;
}

.texto p {
    font-size: 18px;
    line-height: 1.5em;
    padding: 24px 0;
}

.formulario {
    display: flex;
}

main fieldset {
    border:  none;
    display: flex;
    color: var(--secundario);
    font-size: 18px;
    line-height:  1.5em;
    gap: 48px;
    margin: 0;
}

main label {
    display:flex;
    width: 100%;
    flex-direction: column;
}

main input {
    font-size: 16px;
    padding: 0 24px;
    border: none;
    height: 36px;
        background-color: var(--secundario);
    }

    main input:focus {
        outline: none;
    }
    
    main textarea {
        border: none;
        font-size: 16px;
        padding: 0 12px;
        height: 60px;
        background-color: var(--secundario);
    }
    
    .formulario form {
        background-color: var(--primario);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        height: 360px;
        padding: 12px 24px;
        
    }

    main img {
        width:360px;
        height:360px; 
    }
    
    main input[type="submit"] {
        align-self: end;
        margin-top: auto;
        margin: 0 12px;
    }
    
    @media (max-width: 700px) {
        main{
            padding: 48px;
        }
        .formulario{
            flex-wrap: wrap;
            justify-content: center;
        }
        .formulario form fieldset{
            flex-wrap: wrap;
        }
        .formulario form{
            height: max-content;
            padding: 12px 12px;
        }
        main img{
            width: 100%;
        }
    }