nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primario);
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    box-sizing: border-box;
    color: var(--secundario);

    & figure img {
        max-width: 72px;
    }

    & figure {
        margin: 0;
        display: flex;
        gap: 12px;
    }

    & figure figcaption {
        font-size: 24px;
        display: flex;
        align-items: center;
        font-family: Boldonse;
    }

    & .menu {
        display: flex;
    }

    & .toggle {
        display: grid;
        place-items: center;
    }

    & i  {
        width: 36px;
        font-size: 36px;
        text-align: center;
    }

    & div.menu-content {
        display: none;
    }

    & div.menu:hover div.menu-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 100;
        top: 72px;
        left: 0;
        width: 100vw;
        background-color: var(--primario);
    }

    & ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    & li {
        list-style: none;
        height: 100%;
    }

    & a {
        font-size: 18px;
        font-family: Outfit;
        display: block;
        padding: 0 24px;
        height: 36px;
        text-decoration: none;
        color: var(--secundario);
        display: flex;
        align-items: center;
        justify-content: start;
    }

    & .ordenar {
        background-color: var(--impacto);
    }
}


@media (min-width: 500px) {
    :root {
        --relleno-lateral: 12px;
    }

    nav {
    
        & div.menu div.toggle {
            display: none;
        }

        & div.menu div.menu-content {
            display: flex;
            position: static;
            gap: 12px;
            align-items: center;
        }

        & div.menu div.menu-content ul {
            display: flex;
            flex-direction: row;
             
        }

        & div.menu:hover div.menu-content {
            position: static;
            flex-direction: row;
            top: inherit;
            left: inherit;      
            width: inherit;
        }

        & li a {
            height: 100%;
        }
    }
}

