/*font-family: Outfit - Boldonse*/
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Outfit:wght@100..900&display=swap');

/*colores*/
:root {
    --primario: #590212;
    --secundario: #F2CEAE;
    --impacto: #BF1304;

    --relleno-lateral: 48px;
    --letra-tamanio: 0;
}


body {
    padding: 0;
    margin: 0;
    font-family: Outfit;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1,h2,h3{
    font-family: Boldonse;
}
